html, body, div#container{
	height: auto;
	overflow: visible;
}

a#back-to-presentation-link{
	display: block;
	margin: 1em 0 2em;
}

h2{		
	page-break-before: always;
}

div#main{
	overflow: visible;
}
	
div#footer{
	display: none;
}

@media print{
	a#back-to-presentation-link{
		display: none;
	}
	
	div#main-content{
		width: 95%;
	}
}